#duplicate config/initizlizers/app_keys.rb.example to
`/config/initializers/app_keys.rb` and put in real values for email SMTP server credentials

ENV["EMAIL_USER_NAME"] = 'answerawesome'
ENV["EMAIL_PASSWORD"] = 'Sup3r$ecret$$'
ENV['AWS_ACCESS_KEY_ID'] 'PUT VALUE HERE'
ENV['AWS_SECRET_ACCESS_KEY'] 'PUT VALUE HERE'
