<div id='<%= dom_id(answer) %>'>
  <p><%= answer.body %></p>

  <%= link_to '💣 Delete',
              question_answer_path(@question, answer),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              remote: true
   %>

  <hr />
</div>
