<h1 style="color: red">Hello <%= @user.first_name %>, </h1>

<p>You got an answer to your question</p>

<p>Question title: <%= @question.title %></p>
<p>The answer: <%= @answer.body %></p>

<p>Regards,</p>
<p>AwesomeAnswers Team</p>
