// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// a {
//   color: rgb(164, 129, 204) !important;
// }

.newQ {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.3em;
}

.well {
  margin-top:6em;
}
